body {
  position: relative;
  font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  background-color: #FFFFFF;
  box-sizing: border-box;
  min-height: 100%;
}

#actorsSelectionContainer {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;

	#buttonsDiv {
		display: flex;
		flex-direction: column;
		margin: auto 30px;

		a {
			padding: 12px 32px;
			text-decoration: none;
			text-align: center;
			margin-top: 20px;

			&:hover {
				background: #4d4d4d;
				border: 1px solid #4d4d4d;
				color: #ffffff;
			}
		}

		.button-primary {
			background: #4285f4;
			color: #ffffff;
			border: 1px solid #1266f1;
			opacity: 0.5;

			&.active {
				opacity: 1;
			}
		}

		.button-secondary {
			background: #ffffff;
			color: #3372df;
			border: 1px solid #e6e6e6;
		}
	}

	.actor-div {
		.actor-component {
			display: flex;
			flex-direction: column;
			position: relative;
			.actor-input-div {
				position: relative;
				.actor-input {
					margin-top: 10px;
		  			height: 30px;
		  			font-size: 0.95em;
		  			width: 97%;
				}	
				.icon-clear {
					position: absolute;
		  			top: 20px;
		  			left: 162px;
				}

				.actor-select {
					position: relative;
					margin-top: 10px;

					.Select-placeholder {
						position: absolute;
					}

					.Select-input {
						width: 100%;

						input {
							width: 97% !important;
							padding: 10px;
						}
					}

					.Select-placeholder {
						width: 100%;
						padding: 10px;
					}

					.Select-clear {
						position: absolute;
			  			right: 0;
			  			top: 8px;
					}

					.Select-menu-outer {
						position: absolute;
						overflow: hidden;
					  	background-color: white;
					  	border: 1px solid #cccccc;
					  	border-color: #d9d9d9 #cccccc #b3b3b3;
					  	border-radius: 4px;
					  	box-sizing: border-box;
					  	color: #333333;
					  	cursor: default;
					  	outline: none;
					  	padding: 8px 0px 8px 10px;
					  	transition: all 200ms ease;
					  	width: 100%;

					  	.Select-menu {
					  		max-height: 150px;
  							overflow-y: auto;
					  	}
					}
				}
			}

			.actor-name {
				margin-top: 10px;
			}
			
		}

		
	}
}

.play-container {
	display: flex;
  	width: 20%;
  	min-width: 250px;
  	margin: 0 auto;

	.chain-container {
		width: 100px;
		flex: 1;
		display: flex;
	}

	.actor-chain {
		cursor: pointer;

		img {
			width: 80px;
			height: 120px;	
		}

		.chain-actor-name {
			font-size: 9pt;
		}
		
	}

	.step {
		display: flex;
		align-self: center;
		width: 21px;
		justify-content: space-between;
		padding: 0 3px;

		.step-rect {
			width: 5px;
			height: 5px;
			border-radius: 11px;
			background-color: grey;
		}
	}
}

.query-section {
	display: flex;
	.query-container {
		margin-top: 20px;
		flex-basis: 185px;
	}

	.moviesList {
		list-style: none;
		height: 610px;
  		overflow-y: auto;

		.movieItem {
			display: flex;
			align-items: center;
			transition: background-color 0.2s;
			cursor: pointer;

			.movie-image {
				img {
					width: 92px;
					height: 144px;
				}
			}

			.movieDetails {
				text-align: center;
				flex: 1;
			}

			&:active {
				background-color: #4d4d4d;
				color: white;
			}
		}
	}	
}

	

  	.castList {
  		list-style: none;
  		height: 610px;
  		overflow-y: auto;

  		.actorItem {
  			display: flex;
  			align-items: center;
  			cursor: pointer;
  			.actor-image {
  				img {
  					max-width: 80px;
  				}
	  			
	  		}
	  		.actorDetails {
	  			text-align: center;
	  			flex: 1;
	  		}
  		}

  		
  	}



.icon-clear {
	background: url('../images/close.png') no-repeat 0 0;
	height: 14px;
  	width: 15px;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-Light.eot);
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(/fonts/RobotoCondensed-Light.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Light.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Regular.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(/fonts/RobotoCondensed-Regular.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-Bold.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Bold'), url(/fonts/RobotoCondensed-Bold.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-LightItalic.eot);
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(/fonts/RobotoCondensed-LightItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-LightItalic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Italic.eot);
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(/fonts/RobotoCondensed-Italic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-BoldItalic.eot);
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(/fonts/RobotoCondensed-BoldItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-BoldItalic.woff) format('woff');
}